/* about styles */

.footer {
    font-family: var(--font-family-work-sans);
    height: 100%;
    color: white;
    background-color: #121319;
    display: flex;
    flex-direction: row;
    height: 342px;
}